

<div class="container mt-5  d-flex justify-content-center">

 <div [formGroup]= "form"   class="row input-group p-5">
   <div class="col">
     <input type="text" class="form-control" formControlName="firstName" placeholder="שם פרטי">
   </div>
   <div class="col">
    <input class="form-control" type="text" formControlName="lastName" placeholder="שם משפחה">

   </div>

   <div class="col">
    <div class="upload-btn-wrapper">

  <button onclick="document.getElementById('myfile').click();" class="btn-loader">העלה קובץ</button>

  <input type="file" style="width:40px; background-color:red; height:30px;" [formEnctype]="formtype" accept=".mp3,.wav,.ogg,.mp4" formControlName="myfile" id="myfile" name="myfile" (change) = "createFormData($event)"/>
  <br>
  <p><small>audio files only</small></p>
  <button class="btn btn-dark" (click) = "upload()" >שלח טופס</button>



    </div>
  </div>
 </div>



</div>
